<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>1006 Assignments</h1>
    <h2> A brief summary of 1006 Spring '20</h2>
    
    <h3>Homeworks--</h3>
    <p>Assignment 1: Practicing basic computer science mconcepts. Working with Python basics, including lists and indexing.</p>
    <p>Assignment 2: Creating a simple gravity simulator. Practicing sorts, searches, and time complexity.</p>
    <p>Assignment 3: Practicing using functions, including recursive functions. Creating a water percolation simulator. Creating data processing modules.</p>
    <p>Assignment 4: Learning object oriented programming, constructing a class with teachers, assignments, and students.</p>
    <p>Midterm: Edit images to filter obstructions, convert to grayscale, and flip horizontally.</p>
    <p>Assignment 5: Learning to use python for machine learning.</p>
    <p>Final: This is the final!</p>
    
    <h3>Favorite--</h3>
    <p>My favorite assignment was the midterm because it was a fun, visually-engaging way to demonstrate python skills.</p>
    <a href="/">Click to return to Home page.</a>
    </body>
</html>

