<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
        }
        
        </style>
    <head>
    <body>
    <h1>Classes</h1>
    <h2>My class schedule, Spring '20</h2>
    
    <table style="width:100%">
      <tr>
        <th><b>Class</b></th>
        <th><b>Professor</b></th>
        <th><b>Days</b></th>
      </tr>
      <tr>
        <td>Principles of Economics</td>
        <td>Gulati</td>
        <td>M/W</td>
      </tr>
      <tr>
        <td>University Writing</td>
        <td>Tsygankova</td>
        <td>M/W</td>
      </tr>
      <tr>
        <td>Data Structures in Java</td>
        <td>Blaer</td>
        <td>M/W</td>
      </tr>
      <tr>
        <td>Introduction to Electricity and Magnetism</td>
        <td>Zelevinsky</td>
        <td>Tu/Th</td>
      </tr>
      <tr>
        <td>Introduction to Computer Science, Python</td>
        <td>Paine</td>
        <td>Tu/Th</td>
      </tr>
    </table>
    
    <p>My favorite class so far has been Data Structures. 
    I've loved learning the creative solutions that have been developed for different data access/manipulation/relationship needs, and I've found the projects really cool. I've greatly improved my skills and realized how much I love cs.</p>
    
    
    
    <a href="/">Click to return to Home page.</a>
    </body>
</html>


