<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <style>
            img {
              width: 25%;
            }
        </style>
    <head>
    <body>
    <h1>Mehr Kaur</h1>
    <img src="/static/IMG_7723.jpg" alt="kayak">
    <p> I am a current freshman pursuing a B.S. in computer science.</p>
    <p>You can also vist the <a href="/classes">classes</a> page and the <a href="/assignments">assignments</a> page.</p>
    <p> You can watch my favorite YouTube video by clicking <a href="https://www.youtube.com/watch?v=zGf6CGBbWFU&t=2s">here</a>. It is also embeded below.</p>
    
    <p></p>
    
    
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zGf6CGBbWFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </body>
</html>

